
*.db

ConsoleApplication/.vs/ConsoleApplication/CopilotIndices/17.12.38.29086/CodeChunks.db-shm

*.vsidx

ConsoleApplication/.vs/ConsoleApplication/copilot-chat/684c7432/sessions/c86d9432-0c67-411f-bd54-2608307fdb27

*.db-wal

*.db-shm

*.v2

*.testlog

ConsoleApplication/.vs/ConsoleApplication/v17/

ConsoleApplication/SolutionFolder/obj/project.assets.json

ConsoleApplication/SolutionFolder/obj/project.nuget.cache

ConsoleApplication/SolutionFolder/obj/SolutionFolder.csproj.nuget.dgspec.json

ConsoleApplication/SolutionFolder/obj/SolutionFolder.csproj.nuget.g.props

ConsoleApplication/SolutionFolder/obj/SolutionFolder.csproj.nuget.g.targets

ConsoleApplication/SolutionFolder/obj/Debug/net8.0/

ConsoleApplication/ConsoleApplication/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs

ConsoleApplication/ConsoleApplication/obj/Debug/net8.0/ConsoleApplication.AssemblyInfo.cs

ConsoleApplication/ConsoleApplication/obj/Debug/net8.0/ConsoleApplication.GeneratedMSBuildEditorConfig.editorconfig

ConsoleApplication/ConsoleApplication/obj/Debug/net8.0/ConsoleApplication.GlobalUsings.g.cs

ConsoleApplication/ConsoleApplication/obj/project.assets.json

ConsoleApplication/ConsoleApplication/obj/project.nuget.cache

*.bin

ConsoleApplication/ConsoleApplication/obj/
